includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    tmpDir: ./

    paths:
        - app
        - domains

    level: 6

    excludePaths:

    checkMissingIterableValueType: false
